<mat-toolbar>
  <mat-form-field>
    <mat-label>Select the level:</mat-label>
    <mat-select required [(ngModel)]="difficulty">
      <mat-option [value]="'easy'">Easy</mat-option>
      <mat-option [value]="'moderate'">Moderate</mat-option>
      <mat-option [value]="'hard'">Hard</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="newGame()">New game</button>
  <button mat-raised-button (click)="checkGame()">Check game</button>
</mat-toolbar>
<div class="grid">
  <div class="player">
    <app-player [grid]="grid" (checkGame)="checkGame()"></app-player>
  </div>
</div>